
#box{
    display:none;
    background-color: goldenrod;
    width: 180px;
    height: 30px;
    }
#box-title{
    display:block;
    }
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
	background-color: #c8c8c8;
 	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
 	filter: alpha(opacity=78);
}
.pop_win {
    display: none;
    position: absolute;
    top: 2%;
    left: 23%;
    width: 55%;
    height: 63%;
    padding: 10px;
    border: 2px solid rebeccapurple;
    background-color: white;
    z-index:9999;
    overflow: auto;
}